.container
  %h2.board_pageTitle All Boards
  - @boards.each do |board|
    -# create_atでソートする
    = render 'commons/board', board: board
  = link_to new_board_path do
    .board_add_new
      + Add new board