.container
  %h2.card_board_pageTitle All Boards
  - @boards.each do |board|
    -# create_atでソートする
    = render 'commons/board', board: board

  = link_to new_board_path do
    .card_add_new
      + Add new board