.container
  %h2= @board.name
  .board_content
    .board_detail
      .board_detail_name Home business advertising ideas
      -# .board_detail_actions
      -#   .dropdown.dropbtn
      -#     = image_tag 'dropdown-icon.png', class: 'board_dropdown'
      -#     .dropdown_content
      -#       = link_to 'Edit', root_path
      -#       = link_to 'Delete', root_path
    .board_description
    Saving money - is something we would all like.
    -# createしたときのboard_descriptionを表示
    .borad_avatar
      = image_tag 'test-auther-avatar.png', class: 'avatar'
      -# autherのavatarを表示する

  .board_content
    .board_detail
      .board_detail_name Home business advertising ideas
      -# .board_detail_actions
      -#   .dropdown.dropbtn
      -#     = image_tag 'dropdown-icon.png', class: 'board_dropdown'
      -#     .dropdown_content
      -#       = link_to 'Edit', root_path
      -#       = link_to 'Delete', root_path
    .board_description
    Saving money - is something we would all like.
    -# createしたときのboard_descriptionを表示
    .borad_avatar
      = image_tag 'test-auther-avatar.png', class: 'avatar'
      -# autherのavatarを表示する