@import 'variables';


.board_pageTitle{
  margin-bottom: 35px;
}

.board{
  &_content{
    min-height: $large-box-height;
    padding: 32px 16px 20px 17px;
    margin-bottom: 26px;
    border-radius: $base-border-radius;
    background-color: #dfdfdf;
  }

  &_detail{
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 6px;

    &_name{
      font-size: 18px;
    }

    &_actions{
      position: absolute;
      right: 16px;
    
      img{
        width: 24px;
        height: 6px; 
      }
    }
  }

  &_description{
    margin-bottom: 29px;
    line-height: 19px;
    opacity: .4;
    font-size: 14px;
  }
  
  &_avatar{
    margin-left: 3px;
  }

  &_add_new{
    height: 160px;
    border: 1px dashed rgba(00,00,00,.2);
    border-radius: $base-border-radius;
    text-align: center;
    line-height: 160px;
    font-size: 18px;
  }
}