@import 'variables';


.board_pageTitle{
  margin-bottom: 35px;
}

.board{
  &_content{
    min-height: $large-box-height;
    padding: 32px 16px 20px 17px;
    margin-bottom: 26px;
    border-radius: $base-border-radius;
    background-color: #dfdfdf;
  }

  &_detail{
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 6px;

    &_name{
      font-size: 18px;
    }

    &_actions{
      position: absolute;
      right: 16px;
    
      img{
        width: 24px;
        height: 6px;
        cursor: pointer;
      }
    }

    &_comment{
      position: absolute;
      right: 14px;
      
      img{
        vertical-align: middle;
      }

      span{
        vertical-align: middle;
        font-size: 12px;
      }
    }
  }

  &_task{
    margin-bottom: 12px;

    &_name{
      font-size: 18px;
      margin-bottom: 6px;
    }

    &_term{
      font-size: 12px;
    }
    
  }

  &_description{
    margin-bottom: 29px;
    line-height: 19px;
    opacity: .4;
    font-size: 14px;
  }
  
  &_avatar{
    box-sizing: border-box;
    padding: 16px 0px 0px 3px;
  }

  &_image {
    height: 170px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%
    }
  }

  &_add_new{
    height: 160px;
    border: 1px dashed rgba(00,00,00,.2);
    border-radius: $base-border-radius;
    text-align: center;
    line-height: 160px;
    font-size: 18px;
  }
}