@import 'variables';

input, select {
  &.text {
    width: 100%;
    margin: 8px 0px;
    padding: 16px 24px;
    border: none;
    border-radius: $base-border-radius;
    background-color: #dfdfdf;
  }
}

label {
  // margin-top: 33px;
  font-size: 18px;
}

textarea {
  width: 100%;
  height: $large-box-height;
  margin: 8px 0px;
  padding: 8px 8px;
  border: none;
  border-radius: $base-border-radius;
  background-color: #dfdfdf;
}

.field{
  padding-top: 33px;
  // height: 15%;
}

.login_label{
  position: relative;
  margin:50px 0;
}

.actions{

  &_signUp{
    position: relative;
    margin: 16px 0;
    // height: 240px;
  }
  &_signIn{
    position: relative;
    margin: 16px 0;
    // height: 360px;
  }

  &_boardNew{
    position: relative;
    height: 280px;
  }

  &_editProfile{
    position: relative;
  }
}