@import 'variables';

header{
  
  border-bottom: 1px solid rgba(00,00,00,.1);
}

.header{

  &_logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 22px 8px 30px;
  }

  &_pageTitle{
    font-weight: 400;
    font-size: 18px;
  }

  &_avatar {
      width: $base-avatar-size * 4/3;
      height: $base-avatar-size * 4/3;
      border-radius: 100%;
  }

}